#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 5px;
}

#grid > div {
	background-color: green;
	color: white;
    font-size: 30px;
    border: 2px solid white;
}

#item1 {
	grid-column: 1/5;
}

#item2 {
	grid-column: 1/2;
	grid-row: 2/6;
}

#item3 {
	grid-column: 2/3;
}

#item4 {
	grid-column: 3/5;
}

#item5 {
	grid-column: 2/4;
}

#item6 {
	grid-column: 4/5;
}

#item10 {
	grid-column: 2/5;
}