#grid {
	width: 650px;
	height: 400px;
	background-color: green;
	display: grid;
	grid-template-columns: repeat(5);
	color: white;
}

.box {
	border: 3px solid white;
}

#box1 {
	grid-column: span 4 / auto;
}

#box2 {
	grid-row: span 4 / auto;
}

#box3 {
	grid-column: 2/3;
}

#box4 {
	grid-column: span 2 / auto;
}

#box5 {
	grid-column: span 2 / auto;
}

#box6 {
	grid-column: 4/5;
}

#box7 {
	grid-column: 2/3;
}

#box8 {
	grid-column: 3/4;
}
#box9 {
	grid-column: 4/5;
}
#box10 {
	grid-column: span 3 / auto;
}